{% extends './index.htm' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{% load static %}


{% block title %}
SimElec - Résultats par bureau
{% endblock %}

{% block page_title %}
Résultats par bureau
{% endblock %}

{% block main_content %}

<div class="card">
  <form method="get" action=".">
    <div class="card-content">
      {% if not nbCorrespondants and recherche != "" %}
      Aucun bureau n'a été trouvé parmi ceux ayant déjà voté...
      {% endif %}

      {% comment %} Affichage du formulaire de recherche de bureau {% endcomment %}
      {% csrf_token %}
      {% form form=form %}{% endform %}
    </div>
    <div class="card-action">
      <button class="btn">
        Chercher un bureau !
      </button>
    </div>
  </form>
</div>

{% if nbCorrespondants %}
<div class="card">
  <div class="card-content">
    <span class="card-title">
      {{nbCorrespondants}} résultats pour la recherche "{{recherche}}"
    </span>

    {% for nomBureau, numDpt, nomDpt in correspondants %}
    <a href="/resultatsBureau/{{nomBureau}}²{{numDpt}}" class="btn">
      {{nomBureau}} ({{nomDpt}})
    </a>
    <br/>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
