{% extends 'material/frontend/base_module.html' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{% load static %}

{% block title %}
SimElec
{% endblock %}

{% block userphoto %}
<img class="circle" src="{% static 'img/icon.png' %}"/>
{% endblock %}

{% block favicon %}
<link href="{% static 'img/icon.png' %}" rel="shortcut icon" />
{% endblock %}

{% block extrahead %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block page_title %}
Accueil
{% endblock %}

{% block main_content %}
<div class="card">
  <form method="POST" action=".">
    <div class="card-content">
      {% if user.is_authenticated %}
        <img src="{% static 'material/imgs/sidenav.svg' %}" />
      {% else %}
        <span class="card-title">
          Inscription
        </span>
        {% csrf_token %}
        {% form form=form %}{% endform %}

      {% endif %}
    </div>
    <div class="card-action" >
      {% if user.is_authenticated %}
      <span class="card-title">
        Bonjour, {{user.username}}.

        {% if not aUneSimulation %}
        <br/>
        Vous n'avez pas encore de simulation en cours.
        <br/>
        Pour en commencer une, allez sur l'onglet "Nouvelle simulation"
        {% endif %}
      </span>
      {% else %}
      <button class="btn">
        Inscription
      </button>
      <br/>
      <br/>
      Déjà inscrit ? <a href="/accounts/login/">Connexion</a>
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}
