{% extends './index.htm' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{% load static %}

{% block title %}
SimElec - Nouvelle simulation
{% endblock %}

{% block page_title %}
Nouvelle simulation
{% endblock %}

{% block main_content %}
<div class="card">
  <form method="POST" action=".">
    <div class="card-content">
      <span class="card-title grey-text text-darken-2">
        Informations préliminaires
      </span>

      {% csrf_token %}
      {% form form=form %}{% endform %}
    </div>

    <div class="card-action">
      <button class="btn">
        Commencer le vote !
      </button>
    </div>
  </form>
</div>

{% endblock %}
