{% extends './index.htm' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{% load static %}


{% block title %}
SimElec - Résultats {{nomDpt}}
{% endblock %}

{% block page_title %}
Résultats {{nomDpt}}
{% endblock %}

{% block main_content %}

{% if fichierExiste %}
<div class="center-align">
  <a target="_blank" href="/static/data/{{dossierPerso}}/{{nomFichier}}" class="btn">
  Voir en grand <i class="material-icons">fullscreen</i>
  </a>
</div>

<object type="image/svg+xml" data="/static/data/{{dossierPerso}}/{{nomFichier}}" width="100%" height="100%">
</object>
{% else %}
Le fichier n'est pas encore disponible.
{% endif %}

{% endblock %}
