{% extends './index.htm' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{% load static %}


{% block title %}
SimElec - Résultats par département
{% endblock %}

{% block page_title %}
Résultats par département
{% endblock %}

{% block main_content %}

<table>
{% for idTour, fournee in infosCal %}
  <tr>
    <td>{{idTour}}:</td>

    <td>
    {% for numDpt, nomDpt, disabled in fournee %}
      <a href="/resultatsDpt/{{numDpt}}" class="btn" target="_blank" {% if disabled %} disabled {% endif %}>
        {{nomDpt}}
      </a>
    {% endfor %}
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
