{% extends './index.htm' %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}
{% load static %}

{% block title %}
SimElec - Vote
{% endblock %}

{% block page_title %}
Tour {{idTour}} sur {{nbTours}} <span id="titre"></span>
{% endblock %}

{% block extrahead %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script>
function coloration() {
  var bouton = document.getElementById("bouton");
  bouton.parentNode.removeChild(bouton);

  var titre = document.getElementById("titre");
  titre.innerHTML = "&nbsp; &nbsp; Vote en cours...";

  window.scrollTo(0, 0);
}
</script>
{% endblock %}

{% block main_content %}
<div class="img">
  <object type="image/svg+xml" data="/static/data/{{nomDossierPerso}}/recapTour.svg" width="100%" id="carte">
  </object>
</div>

<div class="card">
  <form method="POST" action="." onsubmit="coloration()">
    <div class="card-content">
      <span class="card-title grey-text text-darken-2">
        Tour de vote n°{{idTour}}
      </span>

      {% csrf_token %}
      {% form form=form %}{% endform %}
    </div>

    <div class="card-action">
      <button class="btn" id="bouton">
        Commencer le vote !
      </button>
    </div>
  </form>
</div>
{% endblock %}
